# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

data_output
lab1/Code/matrixgen
lab1/Code/serialtester
lab1/Code/main
*.zip
lab2/Code/main3
lab2/Code/main1
lab2/Code/attacker
lab2/Code/client
lab2/Code/main4
.DS_Store
.gitignore
